.block_general_title_1.w_margin_1
							h1 Derniers articles
						.main_content
							.block_posts.type_3
								each article, i in articles
									article.post_type_4
										.feature
											.image
												a(href='blog_post.html')
													img(src='#{article.article_image_url}', alt='image du post')
													span.hover
										.content
											.info
												hr
												hr
												|#{article}
												hr
												|ici
												hr
												| #{article.categorie_titre}
												hr
												each item, i in  article.article_categories
													| #{item}<br>
												hr
												.tags
													| etiquette
													| ,
												.date 27, 2013
												.stats
													.likes 15
													.comments 7
											.title
												a(href='blog_post.html') #{article.article_titre}
											.line_1
							.separator(style='height:43px;')
							.block_pager_1
								ul
									li.current
										a(href='#') 1
									li
										a(href='#') 2
									li
										a(href='#') 3
									li.skip ...
									li
										a(href='#') 7
									li
										a.next(href='#') Next
								.info Page 1 of 7
								.clearboth
