.block_general_title_1.w_margin_1
	h1 En vedette
	h2 Post jugés important
.block_posts.type_2
	each article, i in articles
		if article.article_en_vedette
			article.post_type_4
				.feature
					.image
						a(href='/articles/articleunique/#{article._id}')
							img(src='#{article.article_image_url}', alt='image du post')
							span.hover
				.content
					.info
						.tags
							| etiquette
							| ,
						.date #{moment(article.article_creation).format('D MMMM YYYY , hh:mm:ss')}
						.stats
							.likes #{article.article_likes}
							.comments #{article.article_commentaires_version2.length}
					.title
						a(href='/articles/articleunique/#{article._id}') #{article.article_titre}
	.clearboth
	.line_1
