footer
	#footer
		section.top
			.inner
				.block_footer_widgets
					.column
						.block_footer_categories
							h3 Categories
							ul
								each categorie, i in categories
									li
										a(href='articles/categorie/#{categorie._id}') #{categorie.titre}
					.column
						.block_footer_tags
							h3 Tags cloud
							ul
								li
									a(href='#') Peoples
								li
									a(href='#') Design
								li
					.column
						.block_footer_pics
							h3 Infos
							ul
								li
									a(href='#')
										img(src='http://placehold.it/70x70', alt='')
										span.hover
		section.middle
			.inner
				.block_bottom_menu
					nav
						ul
							li(class=title == 'accueil' ? 'current_page_item' : undefined)
								a(href="/") Accueil
							li(class=title == 'articles' ? 'current_page_item' : undefined)
								a(href="/articles") Articles
							li(class=title == 'categories' ? 'current_page_item' : undefined)
								a(href='/categories') Categories
		section.bottom
			.inner
				.block_copyrights
					p © Copyright 2015. All Rights Reserved.  | &nbsp;
						a(href='/gestionnaire/articles') Back-end
// FOOTER END
