extends layout
block content
	.inner
		.block_general_title_1.w_margin_1
			h1 Tous les articles (#{articles.length})
		.main_content
			.block_posts.type_3
				each article, i in articles
					article.post_type_4
						.feature
							.image
								a(href='/articles/articleunique/#{article._id}')
									img(src='#{article.article_image_url}', alt='image du post')
									span.hover
						.content
							.info
								.tags
									| etiquette
									| ,
								.date #{moment(article.article_creation).format('D MMMM YYYY , hh:mm:ss')}
								.stats
									a(data-article-id=article._id.toString(),data-csrf=locals._csrf)
										.likes #{article.article_likes}
									.div.pouces.fa.fa-thumbs-up #{article.article_votePositifs}
									.div.pouces.fa.fa-thumbs-down #{article.article_voteNegatifs}
									.comments #{article.article_commentaires.length}
							.title
								a(href='/articles/articleunique/#{article._id}') #{article.article_titre}
							.line_1
			.separator(style='height:43px;')
			.block_pager_1
				ul
					li.current
						a(href='#') 1
					li
						a(href='#') 2
					li
						a(href='#') 3
					li.skip ...
					li
						a(href='#') 7
					li
						a.next(href='#') Next
				.info Page 1 of 7
				.clearboth
