extends layout
block content
	.inner
		.block_general_title_2
			h1 #{article.article_titre}
			h2
				a.tags(href='#') Etiquette
				|   /  
				span.author
					| by
					a(href='#') #{article.article_auteur}
				|   /  
				span.date #{moment(article.article_creation).format('D MMMM YYYY , hh:mm:ss')}
			.stats
				.likes #{article.article_likes}
				.div.pouces.fa.fa-thumbs-up #{article.article_votePositifs}
				.div.pouces.fa.fa-thumbs-down #{article.article_voteNegatifs}
				.comments #{article.article_commentaires_version2.length}
		.main_content
			.block_content
				.pic
					img(src='#{article.article_image_url}', alt='')
				p
					| !{article.article_contenu}
				.block_featured_2.left
					.content
						p
							| #{article.article_sous_titre}.
				.line_1
			.block_comments_1
				h3
					| Commentaires
					span  ( #{article.article_commentaires.length} )
				.comments
					each commentaire, i in article.article_commentaires
						.comment
								.inside
								.avatar
										a(href='#')
											img(src='http://placehold.it/80x80', alt='')
								.content
										.author
											a(href='#') #{commentaire.commentaire_auteur}
										.info
											| #{moment(commentaire.commentaire_date).format("LL à hh:mm:ss")}
											a(href='#') Répondre
										.text
											p
												| #{commentaire.commentaire_contenu}
								.clearboth
			.block_leave_comment_1.type_1
				h3 Laisser un commentaire
				.form
					form(action='/articles/commentaires/ajouter/#{article._id}', method='post', id='commentaires')
						.fields
							.label
								| Nom
								span *
							.field
								input.w_focus_mark.required(type='text', name='commentaire_auteur')
							.label
								| E-mail
								span *
							.field
								input.w_focus_mark.required(type='text', name='commentaire_email_auteur')
							.label Sujet
							.field
								input.w_focus_mark(type='text', name='commentaire_sujet')
						.oh
							.label
								| Message
								span *
							.textarea
								textarea.w_focus_mark(name='commentaire_contenu', cols='1', rows='1')
							.button
								input.general_button_type_3.submit(type='submit',name='submit' value='Envoyer votre commentaire')
		.clearboth
		br
		// CONTENT END
		// FOOTER BEGIN
