extends layout
block content
	.inner
		.block_general_title_2
			h1 #{article.article_titre}
			h2
				a.tags(href='#') Etiquette
				|   /  
				span.author
					| by
					a(href='#') #{article.article_auteur}
				|   /  
				span.date #{moment(article.article_creation).format('D MMMM YYYY , hh:mm:ss')}
			.stats
				.likes #{article.article_likes}
				.comments #{article.article_commentaires_version2.length}
		.main_content
			.block_content
				.pic
					img(src='#{article.article_image_url}', alt='')
				p
					| #{article.article_contenu}
				.block_featured_2.left
					.content
						p
							| ergtrh etrh erth erh rthrtherth ret hrthrt h ret hrt  #{article.article_sous_titre}.
				.line_1
			.block_comments_1
				h3
					| Comments
					span 26
				.comments
					.comment
						.inside
							.avatar
								a(href='#')
									img(src='images/ava_default_1.jpg', alt='')
							.content
								.author
									a(href='#') Rojer Moor
								.info
									| Sept 24, 2013
									a(href='#') REPLY
								.text
									p
										| Natus sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae.  Ab illo inventore veritatis.
							.clearboth
					.comment
						.inside
							.avatar
								a(href='#')
									img(src='images/ava_default_1.jpg', alt='')
							.content
								.author
									a(href='#') Simon Fowler
								.info
									| Sept 24, 2013
									a(href='#') REPLY
								.text
									p
										| Accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae.  Ab illo inventore veritatis et quasiarc.
							.clearboth
						.comment
							.inside
								.avatar
									a(href='#')
										img(src='images/ava_1.jpg', alt='')
								.content
									.author
										a(href='#') Admin
									.info
										| Sept 24, 2013
										a(href='#') REPLY
									.text
										p
											| Dolore laudantium, totam rem aperiam, eaque ipsa quae.  Ab illo inventore veritatis et quasiarchitecto.
								.clearboth
					.comment
						.inside
							.avatar
								a(href='#')
									img(src='images/ava_default_1.jpg', alt='')
							.content
								.author
									a(href='#') Ronald King
								.info
									| Sept 24, 2013
									a(href='#') REPLY
								.text
									p
										| Qolore laudantium, totam rem aperiam, eaque ipsa quae.  Ab illo inventore veritatis et quasiarchitecto beatae vitae.
							.clearboth
					.comment.last_comment
						.inside
							.avatar
								a(href='#')
									img(src='images/ava_default_1.jpg', alt='')
							.content
								.author
									a(href='#') Sandra Downing
								.info
									| Sept 24, 2013
									a(href='#') REPLY
								.text
									p
										| Ratus sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae.
							.clearboth
			.block_leave_comment_1.type_1
				h3 Live a comment
				.form
					form(action='#')
						.fields
							.label
								| Name
								span *
							.field
								input.w_focus_mark.required(type='text', name='name')
							.label
								| E-mail
								span *
							.field
								input.w_focus_mark.required(type='text', name='email')
							.label Subject
							.field
								input.w_focus_mark(type='text', name='subject')
						.oh
							.label
								| Message
								span *
							.textarea
								textarea.w_focus_mark(name='message', cols='1', rows='1')
							.button
								a.general_button_type_3.submit(href='#') Submit Your Comment
		.clearboth
		br
		// CONTENT END
		// FOOTER BEGIN
