extends layout
block content
	.inner
		div.coco
			section
				form.contact(method='post',action='/categories/editer/#{categorie._id}')
					fieldset.contact-inner
						p.contact-input
							input(type='text', name='categorie_titre', placeholder='titre',value='#{categorie.categorie_titre}', autofocus='')
						p.contact-input
							input(type='text', name='categorie_description', value='#{categorie.categorie_description}',placeholder='description')
						p.contact-submit
							input.general_colored_button.green(type='submit', value='Valider')
							a.general_colored_button.orange.mleft(href='/gestionnaire/categories') Retour
							a.general_colored_button.red.categorie_delete(data-categorie-id=categorie._id.toString(),data-csrf=locals._csrf) Supprimer
