extends layout
block content
	.inner
		div.coco
			section
				h1 Gerer les articles
				a.general_colored_button.green.espace(href='articles/ajouter') Ajouter un article
				a.general_colored_button.blue(href='categories') Gerer les categories
			table.rwd-table
				tr
					th Titre article
					th Catergorie
					th Date de publication
					th Auteur
				each article, i in articles
					tr
					td
						a(href='/articles/articleunique/#{article._id}' target="_blank") #{article.article_titre}
					td #{article.article_categories}
					td #{moment(article.article_creation).format('D MMMM YYYY')}
					td #{article.article_auteur}
					td
						a.general_colored_button.red(href='/gestionnaire/articles/editer/#{article._id}') Editer
